h1{
    font-family: "baskerville-urw" serif;
    color: #EB5160;
}

p{
    color: #38405F;

}

h2{
    font-family: "baskerville-urw" serif;
    color: #69140E;
}

h3{
    font-family: "baskerville-urw" serif;
    color: #EB5160;
}

h4{
    font-family: "baskerville-urw" serif;
    color: #69140E;
}

ul{
    color: #38405F;
}